*{
    margin: 0;
}

body{
    background-color: #8458B3;
}

/*
.mainMenu{
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: baseline;
    padding: .7rem;
    margin:2rem;
    border-radius:.7rem;
    gap: 1rem;
}

.menuSlot{  /* links in menu
    text-decoration: none;
    color:#777;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menuSlot:hover{
    color: #606060;
}

*/
/* login and registration form*/
.form{
    padding: .7rem .7rem .7rem .7rem;
    margin: 2rem 2rem 2rem 2rem;
    /*display: block;*/
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    border-radius:.7rem;
    /*width: 25rem;*/
    width: 35rem;
    height: 25rem;
    justify-content: center;
    align-content: space-between;
    gap: .5rem;
}

.form input{  /* prej je bil > div       /* form_email, form_password */
    /*display: block;
    padding: .7rem;
    height: 3rem;
    width: 80%;*/
    /*margin-left: 2rem;
    margin-right: 2rem;*/
    width: 82%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    border-radius: .3rem;
    /*margin-bottom: .2rem;*/
    /*color: #999;*/
    color: #666;
    line-height: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.form > .submitUserdata{
    background-color: #AAA;
    width: 45%;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: .6rem;
}

.form > .submitUserdata:hover{
    background-color: #BBB;
}

.form .formText{
    margin-left:4rem;
    font-size: 1rem;
    color:black;
}

/*.form > div > input {
    width: 80%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: .4rem;
    color: #777;
    font-size: 50%;
    border-radius: .3rem;
    margin-bottom: .2rem;
}

.submit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    /*background-color: rgb(220, 220, 220);
}

/* additions for registration form */

/*
#registration_form{
    width: 35rem;
    height: 25rem;
}*/

.error{
    margin-left:4rem;
    font-size: 1.5rem;
    color:red;
}

.searchForm{
    display: block;
    text-align: center;
}

/* centers the whole flexbox container, not it's items */
.flexboxCenterer{
    display: flex;
    justify-content: center;
}

/*
.searchForm > div{
    display: flex;
    justify-content: center;
    /*
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}*/

.searchForm .searchBar{
    /*margin-left: auto;
    margin-right: auto;*/
    display: flex;
    border-radius: .5rem;
    height: 2rem;
    gap: .2rem;
    margin-top: .2rem;
    margin-bottom: .05rem;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}

.searchForm .searchBar input{
    width: 20rem;
}
