*{
    box-sizing: border-box;
}

body{
    margin:0;
}

.videoMainContainer{
    /*margin: 0 auto;*/
    position: relative;
    /*width: 50rem;
    height: 40rem;*/
    display: flex;
    justify-content: center;
    margin-inline: auto;
    width: 50%;
}

/*.controls{*/
.videoControlsContainer{
    /*height: 5rem;*/
    position: absolute;
    z-index: 5;
    display: flex;
    gap:.5rem;
    bottom:0;
    left:0;
    right: 0;
    align-items: center;
    /*background-color: #f3f3f3;*/
    border-radius: 0 0 .4rem .4rem;
    /*left:10rem;
    top: calc(100% + 12rem);
    /*top: calc(100% + 24rem);
    /*bottom: 5rem;*/
}

.durationContainer{
    display: flex;
    align-items: center;
    gap:.4rem;
    width: 70%;
}

.timelineContainer{
    flex-grow: 8;
    position: relative;
    display: flex;
    align-items: center;
    /*margin-top: .28rem;
    margin-bottom: auto;*/
}

.timeline{
    /*flex-grow: 8;*/
    width: 100%;
    background-color: grey;
    height: .5rem;
    border-radius: .5rem;
    display: flex;
    align-items: baseline;
    position: absolute;
}

#timelineButton{
    position: absolute;
    /*width: 100%;*/
    background-color: black;
    width: 3px;
    height: 1.5rem;
    display: none;
    margin-bottom: auto;
    /*left:30px;*/
}

#fullscreen{
    /* container of fullscreen icon */
    margin-left: auto;
}

#fullscreenIcon{
    font-size:3rem;
}

.selectedVideo{
    border-radius: .4rem;
    width: 100%;
}

.videoHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.arrowBack{
    /* to return to previous webpage */
    /*margin-left: auto;*/
    position: absolute;
    right: 1rem;
    /*width: 4rem;*/
}

.selectedVideoTitle{
    /*margin: 0 auto;*/
    /*width: 12rem;*/
    text-align: center;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.volumeSetting{
    position: relative;
    z-index: 50;
}

.volumeBarContainer{
    display: none;
    position: relative;
}

.volumeBar{
    position: absolute;
    /*display: none;*/
    width: .4rem;
    height: 2.5rem;
    border-radius: .4rem;
    background-color: grey;
    position: absolute;
    margin-left: .6rem;
    transform: translateY(-4.8rem);
}

#volumeCircle{

}
